{% extends 'layout.html' %}

{% block content %}
    <div class="p-3">
        <h3>Users manager</h3>
        <users-view inline-template>
            {%raw%}
            <div>
                <div id="table"></div>
                <vue-modal id="add-user-modal" name="add-user" @on-close="closeModal">
                    Hello From Inside Modal Component
                </vue-modal>
            </div>
            {%endraw%}
        </users-view>
    </div>
{% endblock %}

{% block script %}
<!-- gridjs deps -->
<script src="https://unpkg.com/gridjs/dist/gridjs.development.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
<style>
    .gridjs-head {
        display: flex;
        justify-content: space-between;
    }
</style>

<script src="{{ url_for('static', filename='js/diff_match_patch.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/users-view.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}